[Unit]
Description=Clear Container Agent
After=cc-debug-console.service

[Service]
StandardOutput=tty
Type=simple
ExecStart=/bin/hyperstart
ExecStop=/usr/bin/systemctl --force poweroff
FailureAction=poweroff
